export PROJECT_ID=el-soul
export APP=rails-gke
export NETWORK=rails-gke-network
export SUB_NETWORK=rails-gke-sub-network
export MACHINE_TYPE=custom-1-6656
export ZONE=asia-northeast1
export DOMAIN=rails-gke.el-soul.com